$coral: hsl(23, 83%, 82%)
$coral--b: hsl(23, 99%, 75%)
$pink: hsl(335, 52%, 92%)
$pink--b: hsl(335, 82%, 86%)
$yellow: hsl(42, 97%, 85%)
$yellow--b: hsl(42, 100%, 73%)
$green: hsl(100, 64%, 86%)
$green--b: hsl(100, 41%, 76%)
$blue: hsl(187, 61%, 79%)
$blue--b: hsl(187, 54%, 68%)
$purple: hsl(283, 24%, 86%)
$purple--b: hsl(283, 43%, 80%)
$light-gray-blue: hsl(182, 29%, 96%)

main
    .oneLine
        .meta
            h1
                text-align: center
                font-size: 3em
                font-weight: 300
                display: block
                padding: 1em
            p
                text-align: center
                font-size: 1em
                line-height: 1.5
                font-weight: 300
                display: block
                margin: auto 20vw
            a
                color: hsl(207, 90%, 54%)
        .allSectionContainer
            background-color: white
            section
                &:nth-child(odd)
                    background-color: $light-gray-blue
            .sectionContainer
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                padding: 2em
                .metaArea
                    flex: 1 1 100px
                    display: grid
                    grid-template-rows: auto 1fr
                    padding-bottom: 1em
                    height: 100%
                    
                    .sectionTittle
                        display: flex
                        flex-direction: column
                        align-items: flex-start
                        font-size: 1.5em
                        font-weight: bold
                        padding-bottom: 1em
                        code
                            display: block
                            width: auto
                            font-size: 0.6em
                            margin-left: 2em
                            background-color: $blue
                            border: 1px solid $blue--b
                            font-family: "Inconsolata", monospace
                    .exArea
                        height: 60vh
                        margin-right: 1em
                        .exContainer
                            resize: both
                            position: relative
                            overflow: hidden
                            height: 100%
                            width: 100%
                            z-index: 100
                            box-shadow: 0 0 20px -10px hsl(187deg, 97%, 24%)
                            display: grid
                            align-items: center
                            background: white
                .exSection
                    flex: 1 1 100px
                    display: grid
                    grid-template-rows: auto 1fr
                    height: 100%
                    .supportArea
                        display: grid
                        justify-content: flex-end
                        span
                            justify-self: flex-end
                            font-size: 1em
                            font-style: italic
                            padding: 1vh 1.5vh
                        .taglist
                            display: flex
                            font-size: 1em
                            li
                                border-radius: 1em
                                padding: 0 1vh
                                margin: 0 0.5vh
                            .green
                                background-color: $green
                                
                            .yellowLi
                                background-color: $yellow
                                
                            .coralLi
                                background-color: $coral
                                
                    .codeArea
                        display: grid
                        grid-template-rows: auto 1fr
                        margin: 1em
                        height: 100%
                        .tabArea
                            display: grid
                            width: 50%
                            justify-self: end
                            grid-template-columns: 1fr 1fr 1fr
                            button
                                border: none
                                border-radius: 0.5em 0.5em 0 0
                                padding: 0.5em
                                background-color: white
                            .btnClicked
                                border-top: 1px solid $blue
                                border-right: 1px solid $blue
                                border-left: 1px solid $blue
                                z-index: 1
                        .boxCode
                            white-space: pre-wrap
                            overflow-y: scroll
                            margin-bottom: 1em
                            border: 1px solid $blue
                            margin-top: -1px
                            font-size: 1.35em
                            max-height: 55vh
                        .none
                            display: none
