@mixin prefix($property, $value, $prefixes)
  @each $prefix in $prefixes
    -#{$prefix}-#{$property}: $value

  #{$property}: $value
main
    grid-column: 1/13
    .about
        min-height: 100vh
        display: grid
        grid-template-rows: auto auto
        .nameImg
            display: grid
            grid-template-columns: 1fr 1fr
            background-color: #3E3E3E
            color: white
            .name
                display: flex
                justify-content: flex-end
                align-items: center
                padding-right: 1em
                .borderName
                    h2
                        color: #FFFFF
                        font-size: 6vw
                        font-family: Knewave
                        text-align: left
                    h1
                        color: #9AB460
                        font-size: 7vw
                        font-family: Righteous
                        text-align: left
                        line-height: 0.7
                    .div1
                        width: 100%
                        display: flex
                        justify-content: flex-end
                        .p1
                            font-family: Knewave
                            font-size: 7vw
                        .p2
                            font-family: Urbanist
                            font-size: 3vw
                            padding-left: 2vw
            .Image
                padding: 6vh 12vh 6vh 4vh
                width: 90%
        .introduce
            background-color: white
            color: #3E3E3E
            padding: 5%
            .introContainer
                display: grid
                grid-template-rows: auto 1fr
                .introHeader
                    position: relative
                    div
                        display: grid
                        grid-template-columns: minmax(150px, 40%) 1fr
                        position: relative
                        .introHeaderImage
                            height: 25vh
                            posistion: absolute
                            left: 75%
                            top: -65%
                        h1
                            font-family: Knewave
                            font-size: 3em
                    p
                        font-family: Urbanist
                        text-align: center
                        font-size: 1.5em
                        font-style: italic
                        position: absolute
                        top: 55%
                .introBody
                    padding-top: 3.5em
                    display: grid
                    grid-template-columns: 1fr 1fr
                    .introLeft
                        padding-right: 1em
                        width: 90%
                    .introRight
                        display: grid
                        grid-template-rows: auto auto
                        .introDetails
                            display: grid
                            grid-template-rows: auto auto auto
                            .lineDetails
                                display: flex
                                .lineBg
                                    position: relative
                                    background-color: #DB6B5C
                                    border-radius: 50%
                                    height: 5em
                                    width: 6em
                                    padding: 1em
                                    p
                                        position: absolute
                                        top: -10%
                                        right: 20%
                                        font-family: Knewave
                                        font-size: 3em
                                p
                                    font-family: Urbanist
                                    font-size: 1.5em
                                    padding-left: 1em
                        .introSkills
                            background-color: #3E3E3E
                            border-radius: 10px
                            position: relative
                            margin-top: 2em
                            h1
                                color: #9AB460
                                font-size: 3.5em
                                line-height: 1
                                letter-spacing: .05em
                                font-family: Knewave
                                position: absolute
                                right: 5%
                                top: -10%
                            .skillsRating
                                width: 95%
                                ul
                                    li
                                        width: 90%
                                        height: 30px
                                        background-color: #b4aeae
                                        margin: 1em auto
                                        position: relative
                                        .skill1
                                            width: 90%
                                            height: 30px
                                            position: absolute
                                            background-color: #fc6183
                                            @include prefix(animation, Animate1 4s, moz webkit o)
                                            @keyframes Animate1
                                                from
                                                    width: 10px
                                                to
                                                    width: 90%
                                            @-webkit-keyframes Animate1
                                                from
                                                    width: 10px
                                                to
                                                    width: 90%
                                            @-moz-keyframes Animate1
                                                from
                                                    width: 10px
                                                to
                                                    width: 90%  
                                            .skillsArea
                                                z-index: 1
                                                float: left
                                                text-shadow: none
                                                display: flex
                                                align-items: center
                                                height: 100%
                                                position: absolute
                                            .percent
                                                z-index: 3
                                                position: relative
                                                float: right
                                                display: flex
                                                align-items: center
                                                height: 100%
                                        .skill2
                                            width: 70%
                                            height: 30px
                                            position: absolute
                                            background-color: #fc6183
                                            @include prefix(animation, Animate2 4s, moz webkit o)
                                            @keyframes Animate2
                                                from
                                                    width: 10px
                                                to
                                                    width: 70%
                                            @-webkit-keyframes Animate2
                                                from
                                                    width: 10px
                                                to
                                                    width: 70%
                                            @-moz-keyframes Animate2
                                                from
                                                    width: 10px
                                                to
                                                    width: 70%  
                                            .skillsArea
                                                z-index: 1
                                                float: left
                                                text-shadow: none
                                                display: flex
                                                align-items: center
                                                height: 100%
                                                position: absolute
                                            .percent
                                                z-index: 3
                                                position: relative
                                                float: right
                                                display: flex
                                                align-items: center
                                                height: 100%
                                        .skill3
                                            width: 60%
                                            height: 30px
                                            position: absolute
                                            background-color: #fc6183
                                            @include prefix(animation, Animate3 4s, moz webkit o)
                                            @keyframes Animate3
                                                from
                                                    width: 10px
                                                to
                                                    width: 60%
                                            @-webkit-keyframes Animate3
                                                from
                                                    width: 10px
                                                to
                                                    width: 60%
                                            @-moz-keyframes Animate3
                                                from
                                                    width: 10px
                                                to
                                                    width: 60%  
                                            .skillsArea
                                                z-index: 1
                                                float: left
                                                text-shadow: none
                                                display: flex
                                                align-items: center
                                                height: 100%
                                                position: absolute
                                            .percent
                                                z-index: 3
                                                position: relative
                                                float: right
                                                display: flex
                                                align-items: center
                                                height: 100%
                                        .skill4
                                            width: 50%
                                            height: 30px
                                            position: absolute
                                            background-color: #fc6183
                                            @include prefix(animation, Animate4 4s, moz webkit o)
                                            @keyframes Animate4
                                                from
                                                    width: 10px
                                                to
                                                    width: 50%
                                            @-webkit-keyframes Animate4
                                                from
                                                    width: 10px
                                                to
                                                    width: 50%
                                            @-moz-keyframes Animate4
                                                from
                                                    width: 10px
                                                to
                                                    width: 50%  
                                            .skillsArea
                                                z-index: 1
                                                float: left
                                                text-shadow: none
                                                display: flex
                                                align-items: center
                                                height: 100%
                                                position: absolute
                                            .percent
                                                z-index: 3
                                                position: relative
                                                float: right
                                                display: flex
                                                align-items: center
                                                height: 100%
                                        .skill5
                                            width: 30%
                                            height: 30px
                                            position: absolute
                                            background-color: #fc6183
                                            @include prefix(animation, Animate5 4s, moz webkit o)
                                            @keyframes Animate5
                                                from
                                                    width: 10px
                                                to
                                                    width: 30%
                                            @-webkit-keyframes Animate5
                                                from
                                                    width: 10px
                                                to
                                                    width: 30%
                                            @-moz-keyframes Animate5
                                                from
                                                    width: 10px
                                                to
                                                    width: 30%  
                                            .skillsArea
                                                z-index: 1
                                                float: left
                                                text-shadow: none
                                                display: flex
                                                align-items: center
                                                height: 100%
                                                position: absolute
                                            .percent
                                                z-index: 3
                                                position: relative
                                                float: right
                                                display: flex
                                                align-items: center
                                                height: 100%        




                                        

                                                    
                                                    
                                            
                                            
