main
    grid-column: 1/13
    .about
        color: white
        min-height: 100vh
        display: grid
        grid-template-rows: auto auto
        background-color: #204056
        .nameImg
            display: grid
            grid-template-columns: minmax(30vw, 35%) 1fr
            .name
                display: grid
                place-items: center
                .borderName
                    border-left: 4px solid white
                    padding-left: 1em
                    h2
                        color: white
                        font-size: 2.75em
                        line-height: 2
                        letter-spacing: .05em
                    h1
                        color: #f67e7e
                        font-size: 3.75em
                        line-height: 1
                        letter-spacing: .1em
                        font-family: Oswald,sans-serif
                    p
                        color: white
                        font-size: 1.5em
                        line-height: 2
            .Image
                padding-top: 5vh
                padding-left: 10vh
                max-width: 94%
                .avatar
                    border-radius: 20%
        .introduce
            padding: 5%
            .introDetails
                .introContainer
                    a
                        color: yellow
                    h1
                        color: #faad4e
                        font-size: 3.5em
                        line-height: 1
                        letter-spacing: .05em
                    p
                        font-size: 1.5em
                .introSkills
                    width: 40%
                    float: left
                    h1
                        color: #faad4e
                        font-size: 3.5em
                        line-height: 1
                        letter-spacing: .05em
                    .skillsRating
                        li
                            display: flex
                            justify-content: space-between
